openapi: 3.0.0
info:
  title: Zoho Books API
  version: '3.0'
  description: Zoho Books REST API (merged from official OpenAPI specs)
servers:
- url: https://www.zohoapis.com/books/v3
  description: Zoho Books API v3
tags:
- name: organizations
  description: Organizations Module
- name: estimates
  description: Estimates Module
- name: contact-persons
  description: Contact-Persons Module
- name: contacts
  description: Contacts Module
- name: sales-order
  description: Sales-Order Module
- name: invoices
  description: Invoices Module
- name: sales-receipt
  description: Sales Receipt Module
- name: delivery-challans
  description: Delivery Challans Module
- name: recurring-invoices
  description: Recurring-Invoices Module
- name: credit-notes
  description: Credit-Notes Module
- name: customer-debit-notes
  description: Customer Debit Notes Module
- name: customer-payments
  description: Customer-Payments Module
- name: expenses
  description: Expenses Module
- name: recurring-expenses
  description: Recurring-Expenses Module
- name: retainer-invoices
  description: Retainer-Invoices Module
- name: purchase-order
  description: Purchase-Order Module
- name: bills
  description: Bills Module
- name: recurring-bills
  description: Recurring-Bills Module
- name: vendor-credits
  description: Vendor-Credits Module
- name: vendor-payments
  description: Vendor-Payments Module
- name: custom-modules
  description: Custom Module Configuration
- name: custom-module-records
  description: Custom Module Records
- name: bank-accounts
  description: Bank-Accounts Module
- name: bank-transactions
  description: Bank-Transactions Module
- name: bank-rules
  description: Bank-Rules Module
- name: chart-of-accounts
  description: Chart-Of-Accounts Module
- name: journals
  description: Journals Module
- name: fixed-assets
  description: Fixed-Assets Module
- name: base-currency-adjustment
  description: Base-Currency-Adjustment Module
- name: projects
  description: Projects Module
- name: tasks
  description: Task Module
- name: time-entries
  description: Time-Entries Module
- name: items
  description: Items Module
- name: users
  description: Users Module
- name: pricelists
  description: PriceLists Module
- name: locations
  description: Locations Module
- name: currency
  description: Currency Module
- name: taxes
  description: Taxes Module
- name: opening-balance
  description: Opening-Balance Module
- name: reporting-tags
  description: Reporting Tags Module
- name: integration
  description: integration Module
paths:
  /organizations:
    x-mcp-group:
    - Organizations
    post:
      tags:
      - organizations
      operationId: create_organization
      summary: Create an organization
      description: Create an organization.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-an-organization-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-an-organization-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.settings.CREATE
    get:
      tags:
      - organizations
      operationId: list_organizations
      summary: List organizations
      description: Get the list of organizations.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-organizations-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.settings.READ
  /organizations/{organization_id}:
    x-mcp-group:
    - Organizations
    put:
      tags:
      - organizations
      operationId: update_organization
      summary: Update an organization
      description: Update the details of an organization.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-an-organization-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-an-organization-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.settings.UPDATE
    get:
      tags:
      - organizations
      operationId: get_organization
      summary: Get an organization
      description: Get the details of an organization.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-an-organization-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.settings.READ
    parameters:
    - name: organization_id
      in: path
      schema:
        type: string
      required: true
      description: 'Unique identifier of the organization. Note: This value is a set
        of numeric characters.'
      example: '10229182'
  /estimates:
    x-mcp-group:
    - Estimates
    post:
      tags:
      - estimates
      operationId: create_estimate
      summary: Create an Estimate
      description: Create an estimate for your customer.
      parameters:
      - name: send
        in: query
        description: 'Send the estimate to the contact person(s) associated with the
          estimate.Allowed Values: <code>true</code> and <code>false</code>'
        required: false
        schema:
          type: boolean
      - name: ignore_auto_number_generation
        in: query
        description: Ignore auto estimate number generation for this estimate. This
          mandates the estimate number.
        required: false
        schema:
          type: boolean
        example: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-an-estimate-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-an-estimate-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    get:
      tags:
      - estimates
      operationId: list_estimates
      summary: List estimates
      description: List all estimates with pagination.
      parameters:
      - name: estimate_number
        in: query
        description: Filter or search estimates by their unique estimate number. Supports
          variants such as <code>estimate_number_startswith</code> and <code>estimate_number_contains</code>
          for partial matches. Useful for quickly locating a specific estimate or
          a group of estimates with similar numbering.
        required: false
        schema:
          type: string
        example: EST-00002
      - name: reference_number
        in: query
        description: Filter or search estimates by their reference number. Supports
          variants such as <code>reference_number_startswith</code> and <code>reference_number_contains</code>
          for partial matches. Useful for linking estimates to external systems, customer
          requests, or internal workflows.
        required: false
        schema:
          type: string
        example: QRT-12346
      - name: customer_name
        in: query
        description: Filter or search estimates by the customer's name. Supports variants
          such as <code>customer_name_startswith</code> and <code>customer_name_contains</code>
          for partial matches. Useful for quickly locating all estimates associated
          with a specific customer or group of customers with similar names.
        required: false
        schema:
          type: string
        example: Bowman & Co
      - name: total
        in: query
        description: Filter or search estimates by the total amount of the estimate.
          Supports variants such as <code>total_less_than</code>, <code>total_less_equals</code>,
          <code>total_greater_than</code>, and <code>total_greater_equals</code> for
          range-based queries. Useful for finding estimates within a specific budget
          or identifying high-value quotes.
        required: false
        schema:
          type: number
          format: double
        example: 40.6
      - name: customer_id
        in: query
        description: 'Filter or search estimates by the unique customer ID. Use the
          <code>customer_id</code> returned by the Contacts API for the same organization.
          This helps you retrieve all estimates linked to a specific customer. Note:
          This value is a set of numeric characters.'
        required: false
        schema:
          type: string
        example: 982000000567001
      - name: item_id
        in: query
        description: 'Filter or search estimates by the unique item ID. Use the <code>item_id</code>
          returned by the Items API for the same organization. This allows you to
          find all estimates that include a specific product or service. Note: This
          value is a set of numeric characters.'
        required: false
        schema:
          type: string
        example: ''
      - name: item_name
        in: query
        description: Search estimates by item name.Variants <code>item_name_startswith</code>
          and <code>item_name_contains</code>
        required: false
        schema:
          type: string
        example: ''
      - name: item_description
        in: query
        description: Search estimates by item description.Variants<code>item_description_startswith</code>
          and <code>item_description_contains</code>
        required: false
        schema:
          type: string
        example: ''
      - name: custom_field
        in: query
        description: Search estimates by custom field.Variants<code>custom_field_startswith</code>
          and <code>custom_field_contains</code>
        required: false
        schema:
          type: string
        example: ''
      - name: expiry_date
        in: query
        description: The date of expiration of the estimates
        required: false
        schema:
          type: string
        example: '2013-11-30'
      - name: expiry_date_start
        in: query
        description: Filter estimates with an expiry date on or after the specified
          date. Useful for defining the start of a date range. Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-01'
      - name: expiry_date_end
        in: query
        description: Filter estimates with an expiry date on or before the specified
          date. Useful for defining the end of a date range. Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-30'
      - name: expiry_date_before
        in: query
        description: Filter estimates with an expiry date strictly before the specified
          date (exclusive). Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-17'
      - name: expiry_date_after
        in: query
        description: Filter estimates with an expiry date strictly after the specified
          date (exclusive). Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-17'
      - name: date
        in: query
        description: Search estimates by estimate date.Variants <code>date_start</code>,
          <code>date_end</code>, <code>date_before</code> and <code>date_after</code>
        required: false
        schema:
          type: string
        example: '2013-11-18'
      - name: date_start
        in: query
        description: Filter estimates with an estimate date on or after the specified
          date. Useful for defining the start of a date range. Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-01'
      - name: date_end
        in: query
        description: Filter estimates with an estimate date on or before the specified
          date. Useful for defining the end of a date range. Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-30'
      - name: date_before
        in: query
        description: Filter estimates with an estimate date strictly before the specified
          date (exclusive). Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-17'
      - name: date_after
        in: query
        description: Filter estimates with an estimate date strictly after the specified
          date (exclusive). Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-17'
      - name: status
        in: query
        description: Search estimates by status.Allowed Values<code>draft</code>,
          <code>sent</code>,<code> invoiced </code>, <code>accepted</code>, <code>declined</code>
          and <code>expired</code>
        required: false
        schema:
          type: string
        example: draft
      - name: filter_by
        in: query
        description: Filter estimates by status.Allowed Values <code>Status.All</code>,
          <code>Status.Sent</code>, <code>Status.Draft</code>, <code>Status.Invoiced</code>,
          <code>Status.Accepted</code>, <code>Status.Declined</code> and <code>Status.Expired</code>
        required: false
        schema:
          type: string
        example: ''
      - name: search_text
        in: query
        description: Perform a keyword search across estimate number, reference number,
          or customer name. Use this parameter to quickly find estimates that match
          any of these fields, making it easier to locate relevant records with minimal
          input.
        required: false
        schema:
          type: string
        example: ''
      - name: sort_column
        in: query
        description: Sort estimates. Allowed Values <code>customer_name</code>, <code>estimate_number</code>,
          <code>date</code>, <code>total</code> and <code>created_time</code>
        required: false
        schema:
          type: string
        example: created_time
      - name: zcrm_potential_id
        in: query
        description: 'Potential ID of a Deal in CRM. Note: This value is a set of
          numeric characters.'
        required: false
        schema:
          type: string
        example: 460000000026049
      - name: page
        in: query
        description: Page number to be fetched. Default value is 1.
        required: false
        schema:
          type: integer
          default: 1
        example: 1
      - name: per_page
        in: query
        description: Number of records to be fetched per page.
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-estimates-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.READ
    put:
      tags:
      - contacts
      operationId: update_estimate_using_custom_field
      summary: update an Estimate using a custom field's unique value
      description: A custom field will have unique values if it's configured to not
        accept duplicate values. Now, you can use that custom field's value to update
        an estimate by providing its API name in the X-Unique-Identifier-Key header
        and its value in the X-Unique-Identifier-Value header. Based on this value,
        the corresponding estimate will be retrieved and updated. Additionally, there
        is an optional X-Upsert header. If the X-Upsert header is true and the custom
        field's unique value is not found in any of the existing estimates, a new
        estimate will be created if the necessary payload details are available
      parameters:
      - name: X-Unique-Identifier-Key
        in: header
        description: Unique CustomField Api Name
        required: true
        schema:
          type: string
          example: cf_unique_cf
      - name: X-Unique-Identifier-Value
        in: header
        description: Unique CustomField Value
        required: true
        schema:
          type: string
          example: unique Value
      - name: X-Upsert
        in: header
        description: If there is no record is found unique custom field value , will
          create new invoice
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-an-estimate-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-an-estimate-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.UPDATE
    parameters:
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}:
    x-mcp-group:
    - Estimates
    put:
      tags:
      - estimates
      operationId: update_estimate
      summary: Update an Estimate
      description: Update an existing estimate. To delete a line item just remove
        it from the line_items list.
      parameters:
      - name: ignore_auto_number_generation
        in: query
        description: Ignore auto estimate number generation for this estimate. This
          mandates the estimate number.
        required: false
        schema:
          type: boolean
        example: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-an-estimate-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-an-estimate-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.UPDATE
    get:
      tags:
      - estimates
      operationId: get_estimate
      summary: Get an estimate
      description: Get the details of an estimate.
      parameters:
      - name: print
        in: query
        description: Print the exported pdf.
        required: false
        schema:
          type: boolean
        example: ' '
      - name: accept
        in: query
        description: 'Get the details of a particular estimate in formats such as
          json/ pdf/ html. Default format is json.Allowed Values: <code>json</code>,
          <code>pdf</code> and <code>html</code>'
        required: false
        schema:
          type: string
        example: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-an-estimate-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.READ
    delete:
      tags:
      - estimates
      operationId: delete_estimate
      summary: Delete an Estimate
      description: Delete an existing estimate.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-an-estimate-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.DELETE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimate/{estimate_id}/customfields:
    x-mcp-group:
    - Estimates
    put:
      tags:
      - estimates
      operationId: update_custom_fields_in_estimate
      summary: Update custom field in existing estimates
      description: Update the value of the custom field in existing estimates.
      parameters:
      - name: estimate_id
        in: path
        required: true
        description: 'Unique identifier of the estimate. Note: This value is a set
          of numeric characters.'
        schema:
          type: string
        example: 982000000567011
      - $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom_fields_update'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-an-estimate-customfield-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.UPDATE
  /estimates/{estimate_id}/status/sent:
    x-mcp-group:
    - Estimates
    post:
      tags:
      - estimates
      operationId: mark_estimate_sent
      summary: Mark an estimate as sent
      description: Mark a draft estimate as sent.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-an-estimate-as-sent-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/status/accepted:
    x-mcp-group:
    - Estimates
    post:
      tags:
      - estimates
      operationId: mark_estimate_accepted
      summary: Mark an estimate as accepted
      description: Mark a sent estimate as accepted if the customer has accepted it.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-an-estimate-as-accepted-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/status/declined:
    x-mcp-group:
    - Estimates
    post:
      tags:
      - estimates
      operationId: mark_estimate_declined
      summary: Mark an estimate as declined
      description: Mark a sent estimate as declined if the customer has rejected it.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-an-estimate-as-declined-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/submit:
    x-mcp-group:
    - Estimates
    post:
      tags:
      - estimates
      operationId: submit_estimate
      summary: Submit an estimate for approval
      description: Submit an estimate for approval.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/submit-an-estimate-for-approval-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/approve:
    x-mcp-group:
    - Estimates
    post:
      tags:
      - estimates
      operationId: approve_estimate
      summary: Approve an estimate.
      description: Approve an estimate.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/approve-an-estimate-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/email:
    x-mcp-group:
    - Estimates
    post:
      tags:
      - estimates
      operationId: email_estimate
      summary: Email an estimate
      description: Email an estimate to the customer. Input json string is not mandatory.
        If input json string is empty, mail will be send with default mail content.
      parameters:
      - name: attachments
        in: query
        description: Files to be attached to the email
        required: false
        schema:
          type: string
          format: binary
        example: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-an-estimate-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-an-estimate-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    get:
      tags:
      - estimates
      operationId: get_estimate_email
      summary: Get estimate email content
      description: Get the email content of an estimate.
      parameters:
      - name: email_template_id
        in: query
        description: 'Get the email content based on a specific email template. If
          this param is not inputted, then the content will be based on the email
          template associated with the customer. If no template is associated with
          the customer, then default template will be used. Note: This value is a
          set of numeric characters.'
        required: true
        schema:
          type: string
        example: 982000000000079
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-estimate-email-content-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.READ
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/email:
    x-mcp-group:
    - Estimates
    post:
      tags:
      - estimates
      operationId: email_multiple_estimates
      summary: Email multiple estimates
      description: Send estimates to your customers by email. Maximum of 10 estimates
        can be sent at once.
      parameters:
      - name: estimate_ids
        in: query
        description: 'Comma separated estimate ids which are to be emailed. Note:
          This value is a set of numeric characters separated by comma.'
        required: true
        schema:
          type: string
        example: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-multiple-estimates-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    parameters:
    - $ref: '#/components/parameters/organization_id'
  /estimates/pdf:
    x-mcp-group:
    - Estimates
    get:
      tags:
      - estimates
      operationId: bulk_export_estimates_as_pdf
      summary: Bulk export estimates
      description: Maximum of 25 estimates can be exported in a single pdf.
      parameters:
      - name: estimate_ids
        in: query
        description: 'Comma separated estimate ids which are to be emailed. Note:
          This value is a set of numeric characters separated by comma.'
        required: true
        schema:
          type: string
        example: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk-export-estimates-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.READ
    parameters:
    - $ref: '#/components/parameters/organization_id'
  /estimates/print:
    x-mcp-group:
    - Estimates
    get:
      tags:
      - estimates
      operationId: bulk_print_estimates
      summary: Bulk print estimates
      description: Export estimates as pdf and print them. Maximum of 25 estimates
        can be printed.
      parameters:
      - name: estimate_ids
        in: query
        description: 'Comma separated estimate ids which are to be emailed. Note:
          This value is a set of numeric characters separated by comma.'
        required: true
        schema:
          type: string
        example: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulk-print-estimates-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.READ
    parameters:
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/address/billing:
    x-mcp-group:
    - Estimates
    put:
      tags:
      - estimates
      operationId: update_estimate_billing_address
      summary: Update billing address
      description: Updates the billing address for this estimate alone.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-billing-address-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-billing-address-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.UPDATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/address/shipping:
    x-mcp-group:
    - Estimates
    put:
      tags:
      - estimates
      operationId: update_estimate_shipping_address
      summary: Update shipping address
      description: Updates the shipping address for an existing estimate alone.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-shipping-address-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-shipping-address-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.UPDATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/templates:
    x-mcp-group:
    - Estimates
    get:
      tags:
      - estimates
      operationId: list_estimate_templates
      summary: List estimate template
      description: Get all estimate pdf templates.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-estimate-template-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.READ
    parameters:
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/templates/{template_id}:
    x-mcp-group:
    - Estimates
    put:
      tags:
      - estimates
      operationId: update_estimate_template
      summary: Update estimate template
      description: Update the pdf template associated with the estimate.
      parameters:
      - name: template_id
        in: path
        required: true
        description: 'Unique identifier of the estimate template. Note: This value
          is a set of numeric characters.'
        schema:
          type: string
        example: 982000000000143
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-estimate-template-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.UPDATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/comments:
    x-mcp-group:
    - Estimates
    get:
      tags:
      - estimates
      operationId: list_estimate_comments
      summary: List estimate comments & history
      description: Get the complete history and comments of an estimate.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-estimate-comments-and-history-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.READ
    post:
      tags:
      - estimates
      operationId: create_estimate_comment
      summary: Add Comments
      description: Add a comment for an estimate.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add-comments-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-comments-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.CREATE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /estimates/{estimate_id}/comments/{comment_id}:
    x-mcp-group:
    - Estimates
    put:
      tags:
      - estimates
      operationId: update_estimate_comment
      summary: Update comment
      description: Update an existing comment of an estimate.
      parameters:
      - name: comment_id
        in: path
        required: true
        description: 'Unique identifier of the comment. Note: This value is a set
          of numeric characters.'
        schema:
          type: string
        example: 982000000567019
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-comment-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-comment-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.UPDATE
    delete:
      tags:
      - estimates
      operationId: delete_estimate_comment
      summary: Delete a comment
      description: Delete an estimate comment.
      parameters:
      - name: comment_id
        in: path
        required: true
        description: 'Unique identifier of the comment. Note: This value is a set
          of numeric characters.'
        schema:
          type: string
        example: 982000000567019
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-comment-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.estimates.DELETE
    parameters:
    - name: estimate_id
      in: path
      required: true
      description: 'Unique identifier of the estimate. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 982000000567011
    - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons:
    x-mcp-group:
    - Contact Persons
    post:
      tags:
      - contact-persons
      operationId: create_contact_person
      summary: Create a contact person
      description: Create a contact person for contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-contact-person-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-contact-person-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons/{contact_person_id}:
    x-mcp-group:
    - Contact Persons
    put:
      tags:
      - contact-persons
      operationId: update_contact_person
      summary: Update a contact person
      description: Update an existing contact person.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-contact-person-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-contact-person-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.UPDATE
    delete:
      tags:
      - contact-persons
      operationId: delete_contact_person
      summary: Delete a contact person
      description: Delete an existing contact person.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-contact-person-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.DELETE
    parameters:
    - name: contact_person_id
      in: path
      required: true
      description: Unique identifier of the contact person.
      schema:
        type: string
      example: 460000000026051
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/contactpersons:
    x-mcp-group:
    - Contact Persons
    get:
      tags:
      - contact-persons
      operationId: list_contact_persons
      summary: List contact persons
      description: List all contacts with pagination.
      parameters:
      - name: page
        in: query
        description: Page number to be fetched. Default value is 1.
        required: false
        schema:
          type: integer
          default: 1
        example: 1
      - name: per_page
        in: query
        description: Number of records to be fetched per page.
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contact-persons-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    parameters:
    - name: contact_id
      in: path
      required: true
      description: Unique identifier of the contact.
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/contactpersons/{contact_person_id}:
    x-mcp-group:
    - Contact Persons
    get:
      tags:
      - contact-persons
      operationId: get_contact_person
      summary: Get a contact person
      description: Get the contact person details.
      parameters:
      - name: contact_person_id
        in: path
        required: true
        description: Unique identifier of the contact person.
        schema:
          type: string
        example: 460000000026051
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-a-contact-person-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    parameters:
    - name: contact_id
      in: path
      required: true
      description: Unique identifier of the contact.
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/contactpersons/{contact_person_id}/primary:
    x-mcp-group:
    - Contact Persons
    post:
      tags:
      - contact-persons
      operationId: mark_contact_person_primary
      summary: Mark as primary contact person
      description: Mark a contact person as primary for the contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-primary-contact-person-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_person_id
      in: path
      required: true
      description: Unique identifier of the contact person.
      schema:
        type: string
      example: 460000000026051
    - $ref: '#/components/parameters/organization_id'
  /contacts:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: create_contact
      summary: Create a Contact
      description: Create a new contact with comprehensive business information. This
        operation allows you to create a customer or vendor by providing details such
        as contact name, company information, addresses, contact persons, payment
        terms, tax settings, and custom fields. The created contact can be used for
        generating invoices, bills, estimates, and other business transactions. The
        system automatically assigns a unique contact ID.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-contact-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-contact-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    get:
      tags:
      - contacts
      operationId: list_contacts
      summary: List Contacts
      description: Retrieve a comprehensive list of all contacts with advanced filters.
        This operation supports multiple search criteria including contact name, company
        name, address, email, phone, and general text search. You can filter contacts
        by status (active, inactive, duplicate, CRM) and sort by various fields. The
        response includes essential contact information, financial data including
        outstanding amounts and credit limits, and pagination details for efficient
        data retrieval.
      parameters:
      - name: contact_type
        in: query
        description: 'Search contacts by contact type. Allowed Values: <code>customer</code>,
          <code>vendor</code>.'
        required: false
        schema:
          type: string
        example: customer
      - name: contact_name
        in: query
        description: 'Search contacts by contact name. Max-length [100] Variants:
          <code>contact_name_startswith</code> and <code>contact_name_contains</code>.
          Max-length [100]'
        required: false
        schema:
          type: string
        example: Bowman and Co
      - name: company_name
        in: query
        description: 'Search contacts by company name. Max-length [100] Variants:
          <code>company_name_startswith</code> and <code>company_name_contains</code>'
        required: false
        schema:
          type: string
        example: Bowman and Co
      - name: first_name
        in: query
        description: 'Search contacts by first name of the primary contact person.
          Max-length [100] Variants: <code>first_name_startswith</code> and <code>first_name_contains</code>'
        required: false
        schema:
          type: string
        example: Will
      - name: last_name
        in: query
        description: 'Search contacts by last name of the primary contact person.
          Max-length [100] Variants: <code>last_name_startswith</code> and <code>last_name_contains</code>'
        required: false
        schema:
          type: string
        example: Smith
      - name: address
        in: query
        description: 'Search contacts by any of the address fields. Max-length [100]
          Variants: <code>address_startswith</code> and <code>address_contains</code>'
        required: false
        schema:
          type: string
        example: 4900 Hopyard Rd
      - name: email
        in: query
        description: 'Search contacts by email of the primary contact person. Max-length
          [100] Variants: <code>email_startswith</code> and <code>email_contains</code>'
        required: false
        schema:
          type: string
        example: willsmith@bowmanfurniture.com
      - name: phone
        in: query
        description: 'Search contacts by phone number of the primary contact person.
          Max-length [100] Variants: <code>phone_startswith</code> and <code>phone_contains</code>'
        required: false
        schema:
          type: string
        example: +1-925-921-9201
      - name: filter_by
        in: query
        description: 'Filter contacts by status. Allowed Values: <code>Status.All,
          Status.Active, Status.Inactive, Status.Duplicate, Status.PortalEnabled,
          Status.PortalDisabled, Invoice.OverDue, Invoice.Unpaid, Status.CreditLimitExceed
          and Status.Crm</code>'
        required: false
        schema:
          type: string
        example: ''
      - name: search_text
        in: query
        description: Search contacts by contact name or notes. Max-length [100]
        required: false
        schema:
          type: string
        example: ''
      - name: sort_column
        in: query
        description: 'Sort contacts. Allowed Values: <code>contact_name, first_name,
          last_name, email, outstanding_receivable_amount, created_time and last_modified_time</code>'
        required: false
        schema:
          type: string
        example: contact_name
      - name: zcrm_contact_id
        in: query
        description: 'CRM Contact ID for the contact. Note: This value is a set of
          numeric characters.'
        required: false
        schema:
          type: string
        example: 460000000026049
      - name: zcrm_account_id
        in: query
        description: 'CRM Account ID for the contact. Note: This value is a set of
          numeric characters.'
        required: false
        schema:
          type: string
        example: 460000000026049
      - name: zcrm_vendor_id
        in: query
        description: 'CRM Vendor ID for the contact. Note: This value is a set of
          numeric characters.'
        required: false
        schema:
          type: string
        example: 460000000026049
      - name: page
        in: query
        description: Page number to be fetched. Default value is 1.
        required: false
        schema:
          type: integer
          default: 1
        example: 1
      - name: per_page
        in: query
        description: Number of records to be fetched per page.
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-contacts-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    put:
      tags:
      - contacts
      operationId: update_contact_using_custom_field
      summary: Update a contact using a custom field's unique value
      description: A custom field will have unique values if it's configured to not
        accept duplicate values. Now, you can use that custom field's value to update
        a contact by providing its API name in the X-Unique-Identifier-Key header
        and its value in the X-Unique-Identifier-Value header. Based on this value,
        the corresponding contact will be retrieved and updated. Additionally, there
        is an optional X-Upsert header. If the X-Upsert header is true and the custom
        field's unique value is not found in any of the existing contacts, a new contact
        will be created if the necessary payload details are available
      parameters:
      - name: X-Unique-Identifier-Key
        in: header
        description: Unique CustomField Api Name
        required: true
        schema:
          type: string
          example: cf_unique_cf
      - name: X-Unique-Identifier-Value
        in: header
        description: Unique CustomField Value
        required: true
        schema:
          type: string
          example: unique Value
      - name: X-Upsert
        in: header
        description: If there is no record is found unique custom field value , will
          create new invoice
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-contact-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-contact-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.UPDATE
    parameters:
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}:
    x-mcp-group:
    - Contacts
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
    put:
      tags:
      - contacts
      operationId: update_contact
      summary: Update a Contact
      description: Update an existing contact with comprehensive business information.
        This operation allows you to modify all contact details including basic information,
        addresses, contact persons, payment terms, tax settings, and custom fields.
        For contact person, you can add new contact persons, update existing ones,
        or remove them by excluding them from the contact_persons list.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-contact-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-contact-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.UPDATE
    get:
      tags:
      - contacts
      operationId: get_contact
      summary: Get Contact
      description: Retrieve comprehensive details of a specific contact. This operation
        provides complete contact details such as basic information, addresses, contact
        persons, payment terms, tax settings, custom fields, and financial data including
        outstanding amounts, credit limits, and transaction history.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    delete:
      tags:
      - contacts
      operationId: delete_contact
      summary: Delete a Contact
      description: Delete an existing contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-contact-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.DELETE
  /contacts/{contact_id}/active:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: mark_contact_active
      summary: Mark as Active
      description: Mark a contact as active.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-active-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/inactive:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: mark_contact_inactive
      summary: Mark as Inactive
      description: Mark a contact as inactive.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-as-inactive-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/portal/enable:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: enable_contact_portal
      summary: Enable Portal Access
      description: Enable portal access for a contact.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/enable-portal-access-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enable-portal-access-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/paymentreminder/enable:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: enable_contact_payment_reminder
      summary: Enable Payment Reminders
      description: Enable automated payment reminders for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/enable-payment-reminders-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/paymentreminder/disable:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: disable_contact_payment_reminder
      summary: Disable Payment Reminders
      description: Disable automated payment reminders for a contact.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/disable-payment-reminders-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/statements/email:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: email_contact_statement
      summary: Email Statement
      description: Email statement to the contact. If JSONString is not inputted,
        mail will be sent with the default mail content.
      parameters:
      - name: start_date
        in: query
        description: If start_date and end_date are not given, current month's statement
          will be sent to contact. Date format [yyyy-mm-dd]
        required: false
        schema:
          type: string
        example: ''
      - name: end_date
        in: query
        description: End date for the statement. Date format [yyyy-mm-dd]
        required: false
        schema:
          type: string
        example: ''
      - name: multipart_or_formdata
        in: query
        description: Files to be attached along with the statement.
        required: false
        schema:
          type: string
        example: file
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-statement-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-statement-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    get:
      tags:
      - contacts
      operationId: get_contact_statement_mail
      summary: Get Statement Mail Content
      description: Get the statement mail content.
      parameters:
      - name: start_date
        in: query
        description: If start_date and end_date are not given, current month's statement
          will be sent to contact. Date format [yyyy-mm-dd]
        required: false
        schema:
          type: string
        example: ''
      - name: end_date
        in: query
        description: End date for the statement. Date format [yyyy-mm-dd]
        required: false
        schema:
          type: string
        example: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-statement-mail-content-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/email:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: email_contact
      summary: Email Contact
      description: Send email to contact.
      parameters:
      - name: send_customer_statement
        in: query
        description: Send customer statement pdf with email.
        required: false
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-contact-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-contact-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/comments:
    x-mcp-group:
    - Contacts
    get:
      tags:
      - contacts
      operationId: list_contact_comments
      summary: List Comments
      description: List recent activities of a contact.
      parameters:
      - name: page
        in: query
        description: Page number to be fetched. Default value is 1.
        required: false
        schema:
          type: integer
          default: 1
        example: 1
      - name: per_page
        in: query
        description: Number of records to be fetched per page.
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-comments-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/address:
    x-mcp-group:
    - Contacts
    get:
      tags:
      - contacts
      operationId: get_contact_address
      summary: Get Contact Addresses
      description: Get addresses of a contact including its Shipping Address, Billing
        Address and other additional addresses.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-contact-addresses-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    post:
      tags:
      - contacts
      operationId: add_contact_address
      summary: Add Additional Address
      description: Add an additional address for a contact using the arguments below.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add-additional-address-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-additional-address-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/address/{address_id}:
    x-mcp-group:
    - Contacts
    put:
      tags:
      - contacts
      operationId: update_contact_address
      summary: Edit Additional Address
      description: Edit the additional address of a contact using the arguments below.
      parameters:
      - name: address_id
        in: path
        required: true
        description: 'Unique identifier of the address. Note: This value is a set
          of numeric characters.'
        schema:
          type: string
        example: 1053791000000186000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/edit-additional-address-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/edit-additional-address-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.UPDATE
    delete:
      tags:
      - contacts
      operationId: delete_contact_address
      summary: Delete Additional Address
      description: Delete the additional address of a contact.
      parameters:
      - name: address_id
        in: path
        required: true
        description: 'Unique identifier of the address. Note: This value is a set
          of numeric characters.'
        schema:
          type: string
        example: 1053791000000186000
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-additional-address-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.DELETE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/refunds:
    x-mcp-group:
    - Contacts
    get:
      tags:
      - contacts
      operationId: list_contact_refunds
      summary: List Refunds
      description: List the refund history of a contact.
      parameters:
      - name: page
        in: query
        description: Page number to be fetched. Default value is 1.
        required: false
        schema:
          type: integer
          default: 1
        example: 1
      - name: per_page
        in: query
        description: Number of records to be fetched per page.
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-refunds-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/track1099:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: track_contact_1099
      summary: Track 1099
      description: 'Track a contact for 1099 reporting: (Note: This API is only available
        when the organization''s country is U.S.A).'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/track-1099-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/untrack1099:
    x-mcp-group:
    - Contacts
    post:
      tags:
      - contacts
      operationId: untrack_contact_1099
      summary: Untrack 1099
      description: 'Use this API to stop tracking payments to a vendor for 1099 reporting.
        (Note: This API is only available when the organization''s country is U.S.A).'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/untrack-1099-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.CREATE
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /contacts/{contact_id}/receivables/unusedretainerpayments:
    x-mcp-group:
    - Contacts
    get:
      tags:
      - contacts
      operationId: get_unused_retainer_payments
      summary: Get Unused Retainer Payments
      description: Retrieve information about unused retainer payments for a specific
        contact. This endpoint returns details of retainer payments that have been
        made but not yet applied to invoices, providing insight into available credit
        balances from retainer payments.
      parameters:
      - name: currency_id
        in: query
        description: 'Currency ID to filter unused retainer payments by specific currency.
          Note: This value is a set of numeric characters.'
        required: false
        schema:
          type: string
        example: '460000000000097'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-unused-retainer-payments-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.contacts.READ
    parameters:
    - name: contact_id
      in: path
      required: true
      description: 'Unique identifier of the contact. Note: This value is a set of
        numeric characters.'
      schema:
        type: string
      example: 460000000026049
    - $ref: '#/components/parameters/organization_id'
  /salesorders:
    x-mcp-group:
    - Sales Order
    post:
      tags:
      - sales-order
      operationId: create_sales_order
      summary: Create a sales order
      description: Create a sales order for your customer.
      parameters:
      - name: ignore_auto_number_generation
        in: query
        description: Ignore auto sales order number generation for this sales order.
          This mandates the sales order number.
        required: false
        schema:
          type: boolean
        example: false
      - name: can_send_in_mail
        in: query
        description: Can the file be sent in mail.
        required: false
        schema:
          type: boolean
        example: true
      - name: totalFiles
        in: query
        description: Total number of files.
        required: false
        schema:
          type: integer
        example: 0
      - name: doc
        in: query
        description: Document that is to be attached
        required: false
        schema:
          type: string
          format: binary
        example: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/create-a-sales-order-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-a-sales-order-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.CREATE
    get:
      tags:
      - sales-order
      operationId: list_sales_orders
      summary: List sales orders
      description: List all sales orders.
      parameters:
      - name: sort_column
        in: query
        description: Specify the column field for sorting sales order results. Available
          options include <code>customer_name</code>, <code>salesorder_number</code>,
          <code>shipment_date</code>, <code>last_modified_time</code>, <code>reference_number</code>,
          <code>total</code>, <code>date</code>, and <code>created_time</code>.
        required: false
        schema:
          type: string
        example: created_time
      - name: search_text
        in: query
        description: General search parameter for cross-field text matching across
          sales order number, reference number, and customer name fields. Enables
          unified search functionality for quick order identification and customer
          order lookup operations.
        required: false
        schema:
          type: string
        example: ''
      - name: filter_by
        in: query
        description: 'Filter sales order by status. Allowed Values: <code>Status.All</code>,
          <code>Status.Open</code>, <code>Status.Draft</code>, <code>Status.OverDue</code>,
          <code>Status.PartiallyInvoiced</code>, <code>Status.Invoiced</code>, <code>Status.Void</code>
          and <code>Status.Closed</code>'
        required: false
        schema:
          type: string
        example: ''
      - name: salesorder_number
        in: query
        description: 'Filter sales orders by sales order number using various matching
          operators. Available variants include <code>salesorder_number_startswith</code>,
          <code>salesorder_number_not_in</code>, <code>salesorder_number_in</code>,
          and <code>salesorder_number_contains</code>. Maximum search length: 100
          characters.'
        required: false
        schema:
          type: string
        example: SO-001
      - name: item_name
        in: query
        description: 'Filter sales orders by line item name using various matching
          operators. Available variants include <code>item_name_startswith</code>,
          <code>item_name_not_in</code>, <code>item_name_in</code>, and <code>item_name_contains</code>.
          Maximum search length: 100 characters.'
        required: false
        schema:
          type: string
        example: ''
      - name: item_id
        in: query
        description: 'Filter sales orders by specific line item identifier. Retrieves
          all sales orders containing a particular product or service item based on
          its unique identifier for inventory tracking and item-based reporting purposes.
          Note: This value is a set of numeric characters.'
        required: false
        schema:
          type: string
        example: '460000000017088'
      - name: item_description
        in: query
        description: 'Filter sales orders by line item description text using various
          matching operators. Available variants include <code>item_description_startswith</code>,
          <code>item_description_not_in</code>, <code>item_description_in</code>,
          and <code>item_description_contains</code>. Maximum search length: 100 characters.'
        required: false
        schema:
          type: string
        example: ''
      - name: reference_number
        in: query
        description: Filter sales orders by external reference number using various
          matching operators. Available variants include <code>reference_number_startswith</code>,
          <code>reference_number_not_in</code>, <code>reference_number_in</code>,
          and <code>reference_number_contains</code>.
        required: false
        schema:
          type: string
        example: REF-001
      - name: customer_name
        in: query
        description: 'Filter sales orders by customer name using various matching
          operators. Available variants include <code>customer_name_startswith</code>,
          <code>customer_name_not_in</code>, <code>customer_name_in</code>, and <code>customer_name_contains</code>.
          Maximum search length: 100 characters.'
        required: false
        schema:
          type: string
        example: SAF Instruments Inc
      - name: total
        in: query
        description: Filter sales orders by total amount using various range operators.
          Available variants include <code>total_start</code>, <code>total_end</code>,
          <code>total_less_than</code>, <code>total_less_equals</code>, <code>total_greater_than</code>,
          and <code>total_greater_equals</code>.
        required: false
        schema:
          type: number
          format: double
        example: 12400
      - name: date
        in: query
        description: 'Filter sales orders by creation date using various date range
          operators. Available variants include <code>date_start</code>, <code>date_end</code>,
          <code>date_before</code>, and <code>date_after</code>. Default date format:
          <code>yyyy-mm-dd</code>.'
        required: false
        schema:
          type: string
        example: '2014-07-28'
      - name: date_start
        in: query
        description: Filter sales orders with creation date on or after the specified
          date. Useful for defining the start of a date range. Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-01'
      - name: date_end
        in: query
        description: Filter sales orders with creation date on or before the specified
          date. Useful for defining the end of a date range. Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-30'
      - name: date_before
        in: query
        description: Filter sales orders with creation date strictly before the specified
          date (exclusive). Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-17'
      - name: date_after
        in: query
        description: Filter sales orders with creation date strictly after the specified
          date (exclusive). Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-17'
      - name: shipment_date
        in: query
        description: 'Search sales order by sales order shipment date. Variants: <code>shipment_date_start</code>,
          <code>shipment_date_end</code>, <code>shipment_date_before</code> and <code>shipment_date_after</code>.
          Default date format : <code>yyyy-mm-dd</code>'
        required: false
        schema:
          type: string
        example: ''
      - name: expiry_date_start
        in: query
        description: Filter sales orders by sales order shipment date on or after
          the specified date. Useful for defining the start of a date range. Use yyyy-mm-dd
          format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-01'
      - name: expiry_date_end
        in: query
        description: Filter sales orders by sales order shipment date on or before
          the specified date. Useful for defining the end of a date range. Use yyyy-mm-dd
          format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-30'
      - name: expiry_date_before
        in: query
        description: Filter sales orders by sales order shipment date strictly before
          the specified date (exclusive). Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-17'
      - name: expiry_date_after
        in: query
        description: Filter sales orders by sales order shipment date strictly after
          the specified date (exclusive). Use yyyy-mm-dd format.
        required: false
        schema:
          type: string
          format: date
        example: '2013-11-17'
      - name: status
        in: query
        description: 'Search sales order by sales order status. Allowed Values: <code>draft</code>,
          <code>open</code>, <code>invoiced</code>, <code>partially_invoiced</code>,
          <code>void</code> and <code>overdue</code>.'
        required: false
        schema:
          type: string
        example: open
      - name: customer_id
        in: query
        description: 'Filter sales orders by specific customer identifier. Retrieves
          all sales orders associated with a particular customer account for customer
          relationship management, order history tracking, and customer-specific reporting
          and analysis purposes. Note: This value is a set of numeric characters.'
        required: false
        schema:
          type: string
        example: '460000000017138'
      - name: salesperson_id
        in: query
        description: 'Filter sales orders by specific sales representative identifier.
          Retrieves all sales orders assigned to a particular salesperson for performance
          tracking, commission calculations, sales territory management, and individual
          sales reporting purposes. Note: This value is a set of numeric characters.'
        required: false
        schema:
          type: string
        example: '460000000000097'
      - name: salesorder_ids
        in: query
        description: 'ID''s of the salesorder [Comma seperated values] . <code>Maximum
          Length : 200</code>. Note: This value is a set of numeric characters separated
          by comma.'
        required: false
        schema:
          type: string
        example: 460108000000072000
      - name: zcrm_potential_id
        in: query
        required: false
        description: 'Unique identifier of the potential in CRM. Note: This value
          is a set of numeric characters.'
        schema:
          type: string
        example: '460000000033001'
      - name: last_modified_time
        in: query
        description: Last Modified time of the Sales Order
        required: false
        schema:
          type: string
        example: 2014-08-25T11:23:26+0530
      - name: accept
        in: query
        description: 'Get the details of a particular sales order in formats such
          as json/ pdf/ html. Default format is json. Allowed Values: <code>json</code>,
          <code>csv</code> , <code>xml</code>, <code>xls</code>, <code>xlsx</code>,
          <code>pdf</code>, <code>jhtml</code> and <code>html</code>.'
        required: false
        schema:
          type: string
        example: ''
      - name: print
        in: query
        description: Print the exported pdf. <code> It will be used when accept =
          pdf and atleast one value in salesorder_ids  </code>
        required: false
        schema:
          type: boolean
        example: false
      - name: customview_id
        in: query
        description: 'ID of the customview. Note: This value is a set of numeric characters.'
        required: false
        schema:
          type: string
        example: '460000004000597'
      - name: page
        in: query
        description: Specify the page number for paginated results retrieval. Controls
          which subset of sales order records to return, enabling efficient data handling
          for large result sets. Default value is 1 for the first page.
        required: false
        schema:
          type: integer
          default: 1
        example: 1
      - name: per_page
        in: query
        description: Specify the maximum number of sales order records to return per
          page. Controls result set size for optimal performance, memory usage, and
          user experience.
        required: false
        schema:
          type: integer
          default: 10
        example: 10
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/list-sales-orders-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.READ
    put:
      tags:
      - sales-order
      operationId: update_sales_order_using_custom_field
      summary: Update a sales order using a custom field's unique value
      description: A custom field will have unique values if it's configured to not
        accept duplicate values. Now, you can use that custom field's value to update
        a sales order by providing its API name in the X-Unique-Identifier-Key header
        and its value in the X-Unique-Identifier-Value header. Based on this value,
        the corresponding sales order will be retrieved and updated. Additionally,
        there is an optional X-Upsert header. If the X-Upsert header is true and the
        custom field's unique value is not found in any of the existing sales orders,
        a new sales order will be created if the necessary payload details are available
      parameters:
      - name: X-Unique-Identifier-Key
        in: header
        description: Unique CustomField Api Name
        required: true
        schema:
          type: string
          example: cf_unique_cf
      - name: X-Unique-Identifier-Value
        in: header
        description: Unique CustomField Value
        required: true
        schema:
          type: string
          example: unique Value
      - name: X-Upsert
        in: header
        description: If there is no record is found unique custom field value , will
          create new invoice
        required: false
        schema:
          type: boolean
          example: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-sales-order-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-sales-order-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.UPDATE
    parameters:
    - $ref: '#/components/parameters/organization_id'
  /salesorders/{salesorder_id}:
    x-mcp-group:
    - Sales Order
    put:
      tags:
      - sales-order
      operationId: update_sales_order
      summary: Update a sales order
      description: Update an existing sales order. To delete a line item just remove
        it from the line_items list.
      parameters:
      - name: ignore_auto_number_generation
        in: query
        description: Ignore auto sales order number generation for this sales order.
          This mandates the sales order number.
        required: false
        schema:
          type: boolean
        example: false
      - name: can_send_in_mail
        in: query
        description: Can the file be sent in mail.
        required: false
        schema:
          type: boolean
        example: true
      - name: totalFiles
        in: query
        description: Total number of files.
        required: false
        schema:
          type: integer
        example: 0
      - name: doc
        in: query
        description: Document that is to be attached
        required: false
        schema:
          type: string
          format: binary
        example: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-a-sales-order-request'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-a-sales-order-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.UPDATE
    get:
      tags:
      - sales-order
      operationId: get_sales_order
      summary: Get a sales order
      description: Get the details of a sales order.
      parameters:
      - name: print
        in: query
        description: Print the exported pdf.
        required: false
        schema:
          type: boolean
        example: false
      - name: accept
        in: query
        description: 'Get the details of a particular sales order in formats such
          as json/ pdf/ html. Default format is json. Allowed Values: <code>json</code>,
          <code>csv</code> , <code>xml</code>, <code>xls</code>, <code>xlsx</code>,
          <code>pdf</code>, <code>jhtml</code> and <code>html</code>.'
        required: false
        schema:
          type: string
        example: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-a-sales-order-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.READ
    delete:
      tags:
      - sales-order
      operationId: delete_sales_order
      summary: Delete a sales order
      description: Delete an existing sales order. Invoiced sales order cannot be
        deleted.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/delete-a-sales-order-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.DELETE
    parameters:
    - name: salesorder_id
      in: path
      required: true
      description: 'Unique identifier of the sales order. Note: This value is a set
        of numeric characters.'
      schema:
        type: string
      example: '460000000039129'
    - $ref: '#/components/parameters/organization_id'
  /salesorder/{salesorder_id}/customfields:
    x-mcp-group:
    - Sales Order
    put:
      tags:
      - sales-order
      operationId: update_salesorder_customfields
      summary: Update custom field in existing salesorders
      description: Update the value of the custom field in existing salesorders.
      parameters:
      - name: salesorder_id
        in: path
        required: true
        description: 'Unique identifier of the sales order. Note: This value is a
          set of numeric characters.'
        schema:
          type: string
        example: '460000000039129'
      - $ref: '#/components/parameters/organization_id'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/custom_fields'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-an-salesorder-customfield-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.UPDATE
  /salesorders/{salesorder_id}/status/open:
    x-mcp-group:
    - Sales Order
    post:
      tags:
      - sales-order
      operationId: mark_sales_order_as_open
      summary: Mark a sales order as open
      description: Mark a draft sales order as open.
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-a-sales-order-as-open-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.CREATE
    parameters:
    - name: salesorder_id
      in: path
      required: true
      description: 'Unique identifier of the sales order. Note: This value is a set
        of numeric characters.'
      schema:
        type: string
      example: '460000000039129'
    - $ref: '#/components/parameters/organization_id'
  /salesorders/{salesorder_id}/status/void:
    x-mcp-group:
    - Sales Order
    post:
      tags:
      - sales-order
      operationId: mark_sales_order_as_void
      summary: Mark a sales order as void
      description: Mark a sales order as void.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mark-a-sales-order-as-void-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mark-a-sales-order-as-void-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.CREATE
    parameters:
    - name: salesorder_id
      in: path
      required: true
      description: 'Unique identifier of the sales order. Note: This value is a set
        of numeric characters.'
      schema:
        type: string
      example: '460000000039129'
    - $ref: '#/components/parameters/organization_id'
  /salesorders/{salesorder_id}/substatus/{status_code}:
    x-mcp-group:
    - Sales Order
    post:
      tags:
      - sales-order
      operationId: update_sales_order_sub_status
      summary: Update a sales order sub status
      description: Update a sales order sub status.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 0
                    readOnly: true
                  message:
                    type: string
                    example: Sales Order status updated successfully.
                    readOnly: true
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.CREATE
    parameters:
    - name: salesorder_id
      in: path
      required: true
      description: 'Unique identifier of the sales order. Note: This value is a set
        of numeric characters.'
      schema:
        type: string
      example: '460000000039129'
    - name: status_code
      in: path
      required: true
      description: Unique code of the status of a sales order.
      schema:
        type: string
      example: cs_openshi
    - $ref: '#/components/parameters/organization_id'
  /salesorders/{salesorder_id}/email:
    x-mcp-group:
    - Sales Order
    post:
      tags:
      - sales-order
      operationId: email_sales_order
      summary: Email a sales order
      description: Email a sales order to the customer. Input json string is not mandatory.
        If input json string is empty, mail will be send with default mail content.
      parameters:
      - name: salesorder_id
        in: query
        description: 'ID of the Sales Order. Note: This value is a set of numeric
          characters.'
        required: false
        schema:
          type: string
        example: '460000000039129'
      - name: attachments
        in: query
        description: Attachments of the Sales Order
        required: false
        schema:
          type: string
          format: binary
        example: ''
      - name: send_attachment
        in: query
        description: Send the sales order attachment a with the email.
        required: false
        schema:
          type: boolean
        example: false
      - name: file_name
        in: query
        description: Name of the file.
        required: false
        schema:
          type: string
        example: ''
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/email-a-sales-order-request'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/email-a-sales-order-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.CREATE
    get:
      tags:
      - sales-order
      operationId: get_sales_order_email
      summary: Get sales order email content
      description: Get the email content of a sales order.
      parameters:
      - name: email_template_id
        in: query
        description: 'Get the email content based on a specific email template. If
          this param is not inputted, then the content will be based on the email
          template associated with the customer. If no template is associated with
          the customer, then default template will be used. Note: This value is a
          set of numeric characters.'
        required: false
        schema:
          type: string
        example: 460000000001287
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-sales-order-email-content-response'
      deprecated: false
      security:
      - Zoho_Auth:
        - ZohoBooks.salesorders.READ
    parameters:
    - name: salesorder_id
      in: path
      required: true
      description: 'Unique identifier of the sales order. Note: This value is a set
        of numeric characters.'
      schema:
        type: string
      example: '460000000039129'
    - $ref: '#/components/parameters/organization_id'
  /salesorders/{salesorder_id}/submit:
    x-mcp-group:
    - Sales Order
    post:
[...]
